
body{
	font-family: 'Lato', sans-serif;
}

.contain1 {
    position: relative;
    text-align: center;
    color: white;
		display: block;
		object-fit: fill;
}

.contain2 {
    position: relative;
    text-align: center;
    color: black;
		display: block;
		object-fit: fill;
}

.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
		font-size: 45px;
		font-weight: bold;
		font-family: 'Lato', sans-serif;
}

@media(max-width: 576px) {
	.centered{
		font-size: 1.9em;
	}
  html{
		font-size: 0.7em;
	}
}

ul {
  list-style-type: none;
	line-height: 30px;
}
